# OS / IDE
.DS_Store
.vscode/

# Java
**/target/
*.class
*.jar
*.war
*.ear

# Node
node_modules/
smart-campus-frontend/node_modules/
dist/
**/node_modules/
**/dist/

# Env files
.env
.env.*
!.env.example
